header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.menu {
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.253);
}
.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
}

.menu ul li a:hover{
    border-bottom: 2px solid white;
}